# This configuration file handles the relative paths to all data required by Bloom.
# If you ought to modify this file, make sure to know how to properly perform such a task.
# For more information, please visit: [WEBSITE].

[ChromosomeSizes]
mm9: chrom.sizes.mm9
mm10: chrom.sizes.mm10
hg19: chrom.sizes.hg19
hg38: chrom.sizes.hg38
zv9: chrom.sizes.zv9
zv10: chrom.sizes.zv10

[Cooler]
command: cooler

[Juicer]
command: java
options: -Djava.awt.headless=true -Xmx32000m -jar
jar: juicer_tools_1.22.01.jar

